<div class="flex bg-[#032D38] w-full h-screen">
  <!-- Left background panel -->
  <div class="flex-1 flex-col overflow-hidden">
    <div class="flex items-center">
      <img src="assets/OTB.png" width="90px" />
      <div class="text-[#E0E0E0] text-4xl tracking-tight pt-1">Olaf</div>
    </div>
    <img src="assets/OTB.png" width="100%" />
  </div>
  <!-- Right sign up box -->
  <form
    class="flex flex-col items-center justify-center gap-y-11 rounded-s-[2rem] bg-[#F2F2F2] w-7/12 h-full"
    [formGroup]="signupForm"
    (ngSubmit)="signupWithEmail()"
  >
    <div class="font-bold text-[#4F4F4F] text-[2.5rem]">Create an account</div>
    <!-- Email input box -->
    <div class="input-with-animated-placeholder relative w-[70%] h-[4.5rem]">
      <input
        class="absolute border focus:border-[1.5px] focus:border-[#038C7F] focus:outline-none rounded-2xl font-[500] tracking-wide text-[1.25rem] p-4 pt-10 pr-14 w-full h-full"
        [ngClass]="{
          'border-[#D32F2F] border-[1.5px] bg-[#D32F2F]/10 focus:bg-white':
            errorMessage,
          'border-[#4F4F4F]': !errorMessage
        }"
        type="email"
        formControlName="email"
        placeholder=" "
      />
      <label
        class="absolute flex items-center pointer-events-none text-2xl pl-4 w-full h-full"
        [ngClass]="{
          'text-[#D32F2F] opacity-100': errorMessage,
          'text-[#4F4F4F] opacity-30': !errorMessage
        }"
      >
        Email
      </label>
    </div>
    <!-- Password input box -->
    <div class="input-with-animated-placeholder relative w-[70%] h-[4.5rem]">
      <input
        class="absolute border focus:border-[1.5px] focus:border-[#038C7F] focus:outline-none rounded-2xl font-[500] tracking-wide text-[1.25rem] p-4 pt-10 pr-14 w-full h-full"
        [ngClass]="{
          'border-[#D32F2F] border-[1.5px] bg-[#D32F2F]/10 focus:bg-white':
            errorMessage,
          'border-[#4F4F4F]': !errorMessage
        }"
        type="password"
        formControlName="password"
        placeholder=" "
      />
      <label
        class="absolute flex items-center pointer-events-none text-2xl pl-4 w-full h-full"
        [ngClass]="{
          'text-[#D32F2F] opacity-100': errorMessage,
          'text-[#4F4F4F] opacity-30': !errorMessage
        }"
      >
        Password
      </label>
      <button
        class="absolute flex justify-center items-center top-[50%] translate-y-[-50%] right-3 bg-[#032D38] rounded-full w-10 h-10"
        [ngClass]="{
          'opacity-30': signupForm.invalid,
          'opacity-100 hover:bg-black': !signupForm.invalid
        }"
        type="submit"
        [disabled]="signupForm.invalid"
      >
        <i class="material-icons-outlined text-[#F2F2F2]">arrow_forward</i>
      </button>
    </div>
    <!-- Divider + login link and error message -->
    <div class="w-[67%]">
      <div class="flex justify-between">
        <button
          class="text-[#4F4F4F] text-lg tracking-wide"
          type="button"
          (click)="navigateToLogin()"
        >
          Login →
        </button>
        <div
          class="text-lg tracking-wide"
          [ngClass]="{
            'text-[#D32F2F]': this.errorMessage,
            'text-[#4F4F4F]': !this.errorMessage
          }"
        >
          {{
            this.errorMessage
              ? this.errorMessage
              : "Password should be at least 6 characters"
          }}
        </div>
      </div>
      <hr class="bg-black h-[0.125rem]" />
    </div>
    <!-- Continue with Google button -->
    <button
      class="flex gap-x-2 p-3 justify-center items-center border border-[#4F4F4F] bg-white rounded-2xl hover:brightness-90"
      type="button"
      (click)="loginWithGoogle()"
    >
      <img src="assets/google-logo.svg" />
      <div class="text-[#4F4F4F] text-lg tracking-wide">Continue with Google</div>
    </button>
  </form>
</div>
