.input-with-animated-placeholder {
  label {
    transition: 200ms all;
  }

  input {
    &:focus + label,
    &:not(:placeholder-shown) + label {
      height: 50%;
      transform: translateY(10%);
      font-size: 1rem;
    }
  }
}
