<div class="flex h-screen bg-background p-3">
  <!-- sidebar -->
<div
#sidebar
id="sidebar"
class="flex flex-col gap-y-2 rounded-md bg-foreground p-3 transition-[width]"
>
<!-- header/collapse button row -->
<div
  class="flex flex-none items-center gap-x-2.5 overflow-x-hidden"
  [ngClass]="{ 'justify-center': collapsed }"
>
  @if (!collapsed) {
    <img
      src="assets/twocube-logo-black-bg.png"
      class="h-8 w-8 flex-none rounded-lg"
    />
    <div hlmLarge class="mr-auto truncate">Twocube</div>
  }
  <button hlmBtn variant="ghost" size="icon" (click)="toggleSidebar()">
    <hlm-icon
      size="sm"
      [name]="collapsed ? 'lucidePanelLeftOpen' : 'lucidePanelLeftClose'"
    />
  </button>
</div>
<hr hlmSeparator />
<!-- new session button -->
<button
  hlmBtn
  variant="accent"
  size="sm"
  class="flex-none justify-start gap-x-2 truncate pl-2"
  (click)="newSession()"
>
  <hlm-icon size="sm" name="lucidePlus" class="flex-none" />
  @if (!collapsed) {
    <div class="truncate">New Session</div>
  }
</button>
<!-- sessions list -->
@if (!collapsed) {
  <div class="flex flex-col gap-y-1 overflow-y-auto">
    @for (session of sessionsService.userSessions; track session.id) {
      @if (session.projectId === currentProject.id) {
        <button
          hlmBtn
          [variant]="currentSession.id === session.id ? 'accent' : 'ghost'"
          size="sm"
          class="justify-between pl-3 pr-0"
          (click)="changeSession(session)"
        >
          <div
                class="truncate"
                [ngClass]="{
                  'font-semibold': currentSession.id === session.id,
                }"
              >
                {{ session.name || '&lt;untitled session&gt;' }}
              </div>
              <button
                hlmBtn
                variant="float"
                size="icon"
                [brnMenuTriggerFor]="menu"
              >
                <hlm-icon size="xs" name="lucideEllipsisVertical" />
              </button>
              <hlm-dialog class="absolute">
                <!-- session options menu -->
                <ng-template #menu>
                  <hlm-menu>
                    <button
                      hlmMenuItem
                      brnDialogTrigger
                      (click)="
                        newSessionName = session.name || '<untitled session>'
                      "
                    >
                      <hlm-icon name="lucidePencil" hlmMenuIcon />
                      Rename
                    </button>
                    <button
                      hlmMenuItem
                      class="text-destructive hover:text-destructive"
                      (click)="deleteSession(session)"
                    >
                      <hlm-icon name="lucideTrash2" hlmMenuIcon />
                      Delete
                    </button>
                  </hlm-menu>
                </ng-template>
                <!-- rename session dialog -->
                <hlm-dialog-content *brnDialogContent="let ctx">
                  <hlm-dialog-header>
                    <div hlmDialogTitle>Rename Session</div>
                  </hlm-dialog-header>
                  <input hlmInput class="w-96" [(ngModel)]="newSessionName" />
                  <hlm-dialog-footer>
                    <button hlmBtn brnDialogClose variant="outline" size="sm">
                      Cancel
                    </button>
                    <button
                      hlmBtn
                      brnDialogClose
                      variant="secondary"
                      size="sm"
                      (click)="renameSession(session)"
                    >
                      Save
                    </button>
                  </hlm-dialog-footer>
                </hlm-dialog-content>
              </hlm-dialog>
        </button>
      }
    }
  </div>
}
<!-- Bottom Section with Settings Icon & Project Info -->
<div class="mt-auto border-t border-divider pt-2 flex items-center justify-between">
  <!-- Settings Icon Button -->
  <button hlmBtn variant="ghost" size="icon">
    <hlm-icon size="sm" name="lucideSettings" />
  </button>
  <!-- Project Info (displayed when not collapsed) -->
  @if (!collapsed) {
    <div *ngIf="currentProject.agent === 'Undefined'; else agentInfo" class="text-xs text-black">
      {{ currentProject.language }}
    </div>
    <ng-template #agentInfo>
      <div class="text-xs text-black">
        {{ currentProject.language }} | {{ currentProject.agent }}
      </div>
    </ng-template>
  }
</div>
</div>

  <!-- chat interface -->
  <div
    id="main-content"
    class="flex flex-col gap-y-2 rounded-md bg-foreground px-4 py-3"
  >
    <!-- top header row -->
    <div class="-mx-1 flex flex-none items-center gap-x-1">
      <button
        hlmBtn
        variant="ghost"
        size="icon"
        (click)="router.navigate(['dashboard'])"
      >
        <hlm-icon size="sm" name="lucideHouse" />
      </button>
      <div hlmSmall hlmMuted class="overflow-visible truncate">
        / {{ this.currentProject.name }} /
        {{ this.currentSession.name || '&lt;untitled session&gt;' }}
      </div>
      <button hlmBtn variant="ghost" size="icon" class="ml-auto">
        <hlm-icon size="sm" name="lucideCircleStop" />
      </button>
      <button hlmBtn variant="ghost" size="icon">
        <hlm-icon size="sm" name="lucideRotateCw" />
      </button>
    </div>
    <!-- message screen -->
    <div #messageScreen class="flex h-full flex-col gap-y-3 overflow-y-auto">
      @for (message of this.currentSession.history.slice(1); track $index) {
        <!-- display user messages -->
        @if (message.role === 'user' && message.type === 'text') {
          <div
            hlmSmall
            class="max-w-[calc(100%-40px)] self-end break-words rounded-lg bg-accent px-2 py-1"
          >
            {{ message.content }}
          </div>
        }
        <!-- display assistant messages -->
        @else if (
          (message.type === 'text' ||
          message.type === 'code' ||
          message.type === 'executedCode')
          && message.content !== ''
          && message.content != '```'
        ) {
          <div class="flex gap-x-2.5">
            <!-- twocube avatar -->
            <img
              src="assets/twocube-logo-black-bg.png"
              class="h-9 rounded-lg"
            />
            <!-- twocube name/message -->
            <div class="flex flex-col gap-y-0.5">
              <div hlmLarge hlmSmall>Twocube</div>
              <div hlmSmall class="self-start break-words rounded-lg">
                @if (
                  (message.type === 'code' || message.type === 'executedCode') &&
                  message.content.trim() !== ''
                ) {
                  <div
                    [innerHTML]="extractTextWithoutCode(message.content).trim()"
                  ></div>
                }
                @if (message.type === 'text' && message.content !== ''  && message.content != '```') {
                  <div
                    [innerHTML]="extractTextWithoutCode(message.content).trim()"
                  ></div>
                }
              </div>
            </div>
          </div>
        }
      }
      <!-- empty session state -->
      @empty {
        @if (!localSessionChunks.hasOwnProperty(currentSession.id)) {
          <img
            src="assets/twocube-logo-black-bg.png"
            class="mt-auto h-12 self-center rounded-lg"
          />
          <div hlmSmall hlmMuted class="mb-auto self-center text-center">
            Hello, how can I help you today?
          </div>
        }
      }
      <!-- display messages in chunks  -->
      @for (chunk of localSessionChunks[currentSession.id]; track $index) {
        <div class="flex gap-x-2.5">
          <!-- twocube avatar -->
          <img src="assets/twocube-logo-black-bg.png" class="h-9 rounded-lg" />
          <!-- twocube name/message -->
          <div class="flex flex-col gap-y-0.5">
            <div hlmLarge hlmSmall>Twocube</div>
            <div hlmSmall class="self-start break-words rounded-lg">
              @if (
                (chunk.type === 'code' || chunk.type === 'executedCode') &&
                chunk.content !== ''
              ) {
                <div
                  [innerHTML]="extractTextWithoutCode(chunk.content).trim()"
                ></div>
              }
              @if (chunk.type === 'text' && chunk.content !== '') {
                <div
                  [innerHTML]="extractTextWithoutCode(chunk.content).trim()"
                ></div>
              }
            </div>
          </div>
        </div>
      }
      <!-- loading state -->
      @if (localSessionChunks[currentSession.id]) {
        <div class="flex justify-center gap-x-2 pb-1">
          <div hlmSmall hlmMuted class="break-words">Waiting for agent...</div>
          <hlm-spinner size="xs" />
        </div>
      }
    </div>
    <!-- chat bar -->
    <div class="relative mt-auto flex-none">
      <!-- using event-binding voodoo to make the textarea dynamically resize. -->
      <textarea
        #chatBar
        hlmInput
        placeholder="Ask Twocube... (shift + enter for new line)"
        class="max-h-40 w-full border-0 bg-background py-2.5 pr-10"
        [(ngModel)]="newMessage"
        (keydown.enter)="$event.preventDefault(); sendMessage(currentSession)"
        (keyup.enter)="adjustTextareaHeight(chatBar)"
        (input)="adjustTextareaHeight(chatBar)"
      ></textarea>
      <button
        hlmBtn
        variant="float"
        size="icon"
        class="absolute bottom-1 right-1"
        (mousedown)="sendMessage(currentSession)"
        (mouseup)="adjustTextareaHeight(chatBar)"
      >
        <hlm-icon size="sm" name="lucideSendHorizontal" />
      </button>
      <!-- Only show this if the project agentType is L3 Reasoning -->
      @if (currentProject.agent === 'L3-Reasoning') {
        <button
          hlmBtn
          variant="float"
          size="icon"
          class="absolute bottom-1 right-8"
          (mousedown)="sendNextStep()"
          (mouseup)="adjustTextareaHeight(chatBar)"
        >
          <hlm-icon size="sm" name="lucideSquareArrowRight" />
        </button>
      }
    </div>
  </div>
  <!-- twocube den -->
  <hlm-tabs
    id="den-sidebar"
    tab="code"
    class="flex flex-col rounded-md bg-foreground p-3"
  >
    <!-- header tab buttons -->
      <!-- Only show planner if we are in l3 Reasoning -->
      @if (currentProject.agent === 'L3-Reasoning') {
        <hlm-tabs-list class="grid w-full grid-cols-3">
        <button hlmTabsTrigger="planner">Planner</button>
        <button hlmTabsTrigger="code">Code</button>
        <button hlmTabsTrigger="files">Files</button>
      </hlm-tabs-list>
      }
      @else {
        <hlm-tabs-list class="grid w-full grid-cols-2">
          <button hlmTabsTrigger="code">Code</button>
          <button hlmTabsTrigger="files">Files</button>
        </hlm-tabs-list>
      }
    <!-- planner tab content -->
    <div #plannerScreen hlmTabsContent="planner" class="h-full overflow-y-auto">
      @for (message of currentSession.history | planmessage; track $index) {
         @if (message.type === 'plan') {
          <div *ngIf="message.type === 'plan'"
           class="rounded-lg p-5 border-l-8"
           [ngClass]="{
             'border-indigo-500 bg-indigo-50': message.content.includes('Plan'),
             'border-gray-300 bg-white': !message.content.includes('Plan')
           }">
        <h2 class="text-xl font-bold text-gray-800 mb-2">Plan Overview</h2>
          <div
          [innerHTML]="extractTextWithoutCode(message.content).trim()"
        ></div>
      </div>
        }
      }
      <!-- empty state -->
      @empty {
        <div
          class="flex h-full flex-col items-center justify-center gap-y-4 rounded-md border p-3"
        >
          <div class="h-20 w-20 rounded-full bg-background"></div>
          <div hlmSmall hlmMuted>Nothing to plan yet.</div>
        </div>
      }
    </div>
    <!-- terminal tab content -->
    <div hlmTabsContent="terminal" class="h-full overflow-y-auto">
      <!-- empty state -->
      <div
        class="flex h-full flex-col items-center justify-center gap-y-4 rounded-md border p-3"
      >
        <div class="h-20 w-20 rounded-full bg-background"></div>
        <div hlmSmall hlmMuted>Terminal coming soon!</div>
      </div>
    </div>
    <!-- code tab content -->
    <div #codeScreen hlmTabsContent="code" class="h-full overflow-y-auto">
      <div class="flex h-full flex-col gap-y-3">
        @for (message of currentSession.history | codemessage; track $index) {
          <!-- code block -->
          @if (message.type === 'code' || message.type === 'executedCode') {
            <pre><code hlmSmall [highlight]="extractCode(message.content)" language="python" class="bg-transparent border rounded-md"></code></pre>
          }
          <!-- result block -->
          @else if (message.type === 'result') {
            <pre><code hlmSmall [highlight]="message.content" language="html" class="bg-transparent border rounded-md"></code></pre>
          }
          <!-- image block -->
          @else if (message.type === 'image') {
            <img
              [src]="message.content"
              class="max-h-72 rounded-md border object-contain"
            />
          }
          <!-- error block -->
          @else if (message.type === 'error') {
            <pre><code hlmSmall [highlight]="message.content" language="python" class="bg-transparent border rounded-md text-destructive"></code></pre>
          }
        }
        <!-- empty state -->
        @empty {
          @if (
            (localSessionChunks[currentSession.id] || [] | codemessage)
              .length === 0
          ) {
            <div
              class="flex h-full flex-col items-center justify-center gap-y-4 rounded-md border p-3"
            >
              <div class="h-20 w-20 rounded-full bg-background"></div>
              <div hlmSmall hlmMuted>Nothing to code yet.</div>
            </div>
          }
        }
        <!-- display chunked code snippets -->
        @for (
          message of localSessionChunks[currentSession.id] || [] | codemessage;
          track $index
        ) {
          <!-- code block -->
          @if (message.type === 'code' || message.type === 'executedCode')  {
            <pre><code hlmSmall [highlight]="extractCode(message.content)" language="python" class="bg-transparent border rounded-md"></code></pre>
          }
          <!-- result block -->
          @else if (message.type === 'result') {
            <pre><code hlmSmall [highlight]="message.content" language="html" class="bg-transparent border rounded-md"></code></pre>
          }
          <!-- image block -->
          @else if (message.type === 'image') {
            <img
              [src]="message.content"
              class="max-h-72 rounded-md border object-contain"
            />
          }
          <!-- error block -->
          @else if (message.type === 'error') {
            <pre><code hlmSmall [highlight]="message.content" language="python" class="bg-transparent border rounded-md text-destructive"></code></pre>
          }
        }
        @if (executingCode.has(currentSession.id)) {
          <span
            hlmCode
            class="mb-1 flex items-center gap-x-3 rounded-md border bg-transparent p-2"
          >
            Executing code...
            <hlm-spinner size="xs" />
          </span>
        }
      </div>
    </div>
    <!-- files tab content -->
    <div hlmTabsContent="files" class="h-full overflow-y-auto">
      <div
        class="flex h-full flex-col gap-y-1.5 overflow-x-auto rounded-md border p-3"
      >
        <div hlmSmall class="text-destructive">
          Warning: This feature is currently in development and files do not
          persist after refresh.
        </div>
        <!-- files list -->
        @for (file of fileStorageService.getFiles() | async; track file.id) {
          <div class="flex items-center gap-x-2">
            <hlm-icon
              size="sm"
              [name]="getLucideIconFromType(file.type)"
              class="flex-none"
            />
            <div hlmSmall class="truncate">{{ file.name }}</div>
            <!-- file not added state, potentially loading -->
            @if (!uploadedFiles.has(file.id)) {
              <button
                hlmBtn
                hlmSmall
                variant="ghost"
                size="xs"
                class="ml-auto flex-none gap-x-2"
                (click)="
                  addFirebaseFileToSandbox(file, currentSession);
                  icon.name = 'lucideLoaderCircle';
                  icon.class = 'animate-spin'
                "
              >
                Add to project
                <hlm-icon #icon size="xs" name="lucideArrowUpFromLine" />
              </button>
            }
            <!-- file already added state -->
            @else {
              <button
                hlmBtn
                hlmSmall
                variant="ghost"
                size="xs"
                class="ml-auto flex-none gap-x-2 text-green-500"
                (click)="addFirebaseFileToSandbox(file, currentSession)"
              >
                File added
                <hlm-icon size="xs" name="lucideCheck" />
              </button>
            }
          </div>
        }
        <!-- empty state -->
        @empty {
          <div
            class="mt-auto h-20 w-20 self-center rounded-full bg-background"
          ></div>
          <div hlmSmall hlmMuted class="mb-auto self-center text-center">
            No files found.
          </div>
        }
      </div>
    </div>
  </hlm-tabs>
</div>
