<div class="flex h-screen p-3 bg-background">
  <!-- sidebar -->
  <div id="sidebar" class="flex flex-col p-3 bg-foreground rounded-md gap-y-2">
    <!-- header/collapse button row -->
    <div class="flex-shrink-0 flex pl-2 items-center justify-between">
      <h1 hlmLarge>TwoCube</h1>
      <button brnToggle hlmToggle size="sm" class="px-1.5">
        <hlm-icon size="sm" name="lucidePanelLeftDashed" />
      </button>
    </div>
    <hr hlmSeparator />
    <!-- new session button -->
    <button
      hlmBtn
      variant="secondary"
      size="sm"
      class="flex-shrink-0 justify-start pl-2 gap-x-2"
      (click)="sessionsService.newSession()"
    >
      <hlm-icon size="sm" name="lucidePlus" />
      New Session
    </button>
    <!-- sessions list -->
    <div class="flex flex-col gap-y-1 overflow-y-auto">
      @for (session of sessionsService.userSessions; track session.id) {
      <button
        hlmBtn
        [variant]="
          sessionsService.activeSession.id === session.id
            ? 'secondary'
            : 'ghost'
        "
        size="sm"
        class="justify-between pl-3 pr-0"
        (click)="sessionsService.changeUserSessionById(session.id)"
      >
        <p class="truncate">{{ session.id || "" }}</p>
        <button hlmBtn variant="float" size="icon" [brnMenuTriggerFor]="menu">
          <hlm-icon size="xs" name="lucideEllipsisVertical" />
        </button>
        <hlm-dialog class="absolute">
          <!-- session options menu -->
          <ng-template #menu>
            <hlm-menu>
              <button hlmMenuItem brnDialogTrigger>
                <hlm-icon name="lucidePencil" hlmMenuIcon />
                Rename
              </button>
              <button
                hlmMenuItem
                class="text-destructive hover:text-destructive"
              >
                <hlm-icon name="lucideTrash2" hlmMenuIcon />
                Delete
              </button>
            </hlm-menu>
          </ng-template>
          <!-- rename session dialog -->
          <hlm-dialog-content *brnDialogContent="let ctx">
            <hlm-dialog-header>
              <h3 hlmDialogTitle>Rename Session</h3>
            </hlm-dialog-header>
            <input hlmInput size="sm" value="@peduarte" class="w-96" />
            <hlm-dialog-footer>
              <button hlmBtn brnDialogClose size="sm">Cancel</button>
              <button hlmBtn brnDialogClose size="sm">Save</button>
            </hlm-dialog-footer>
          </hlm-dialog-content>
        </hlm-dialog>
      </button>
      }
    </div>
    <!-- project settings button -->
    <button
      hlmBtn
      variant="ghost"
      size="sm"
      class="flex-shrink-0 justify-start mt-auto pl-2 gap-x-2"
    >
      <hlm-icon size="sm" name="lucideSettings" />
      Project Settings
    </button>
  </div>
  <!-- chat interface -->
  <div
    id="main-content"
    class="flex flex-col px-4 py-3 bg-foreground rounded-md gap-y-2"
  >
    <!-- top header row -->
    <div class="flex-shrink-0 flex -mx-1 items-center gap-x-1">
      <button hlmBtn variant="ghost" size="icon">
        <hlm-icon size="sm" name="lucideHouse" />
      </button>
      <p hlmSmall hlmMuted class="truncate overflow-visible">
        / Sample Project / Session 1
      </p>
      <button hlmBtn variant="ghost" size="icon" class="ml-auto">
        <hlm-icon size="sm" name="lucideCircleStop" />
      </button>
      <button hlmBtn variant="ghost" size="icon">
        <hlm-icon size="sm" name="lucideRotateCw" />
      </button>
    </div>
    <!-- message screen -->
    <div class="flex flex-col h-full bg-green-400 rounded-md overflow-y-auto">
      @for (message of this.sessionsService.activeSession.history.slice(1);
      track $index) {
      <div
        *ngIf="
          message.type === 'code' ||
          message.type === 'plan' ||
          message.type === 'text'
        "
        [ngClass]="{
          'bg-blue-100 self-end': message.role === 'user',
          'bg-gray-200 self-start': message.role === 'assistant'
        }"
        class="p-2 rounded mb-2 max-w-full break-words"
      >
        <div *ngIf="message.type === 'text'">{{ message.content }}</div>
        <div *ngIf="message.type === 'plan'">
          I've put our plan in the planner! Let me know what you think.
        </div>
        <div *ngIf="message.type === 'code'">
          I've put our code in the code editor! Let me know what you think.
        </div>
      </div>
      } @empty {
      <img src="assets/twocube-logo-gray-bg.svg" />
      }
    </div>
    <!-- chat bar -->
    <div class="flex-shrink-0 relative mt-auto">
      <textarea
        hlmInput
        placeholder="Ask TwoCube..."
        class="w-full max-h-40 pr-[7.5rem] py-2.5 bg-accent border-0"
        (input)="adjustTextareaHeight($event)"
      ></textarea>
      <button
        hlmBtn
        variant="float"
        size="icon"
        class="absolute bottom-1 right-1"
      >
        <hlm-icon size="sm" name="lucideSendHorizontal" />
      </button>
      <button
        hlmBtn
        variant="link"
        size="icon"
        class="absolute bottom-1 right-20"
      >
        Plan
      </button>
      <button
        hlmBtn
        variant="link"
        size="icon"
        class="absolute bottom-1 right-9"
      >
        Code
      </button>
    </div>
  </div>
  <div id="den-sidebar" class="px-4 py-4 bg-foreground rounded-md"></div>
</div>
