<div class="chat-container">
    <div class="chat-toolbar">
      <span class="toolbar-title">TwoCube.ai</span>
      <button class="upload-button">Upload</button>
    </div>
    <div class="chat-panel">
      <div *ngFor="let message of messages" class="chat-message">
        <ng-container *ngIf="message.type === 'text'">
          <p>{{ message.content }}</p>
        </ng-container>
        <ng-container *ngIf="message.type === 'code'">
          <pre><code>{{ message.content }}</code></pre>
        </ng-container>
      </div>
    </div>
    <div class="chat-input-container">
      <input type="text" [(ngModel)]="newMessage" placeholder="Type your message..." />
      <button (click)="sendMessage()">Submit</button>
    </div>
  </div>