<div class="chat-container">
  <div class="chat-toolbar">
    <span class="toolbar-title">TwoCube.ai</span>
    <div>
      <button
        (click)="connectToSandBox()"
        class="upload-button status-indicator"
        [ngClass]="{ connected: isConnected, disconnected: !isConnected }"
      >
        {{ isConnected ? "Sandbox Connected" : "Sandbox Disconnected" }}
      </button>
      <input
        class="w-48"
        type="file"
        (change)="onUploadFilesSelected($event)"
        multiple
      />
      <button (click)="uploadFiles()" class="upload-button status-indicator">
        Upload
      </button>
      <button (click)="logout()" class="upload-button status-indicator">
        <!-- accessing userService observable data (reactively updates) -->
        Logout: {{ (userService.getCurrentUser() | async)?.email }}
      </button>
      <button (click)="deleteAccount()" class="upload-button status-indicator">
        Delete Account
      </button>
    </div>
  </div>
  <div class="chat-panel">
    <div *ngIf="loading" class="spinner"></div>
    <div
      *ngFor="let message of messages"
      [ngClass]="{
        'chat-message': true,
        assistant: message.role === 'assistant',
        user: message.role === 'user'
      }"
    >
      <ng-container *ngIf="message.type === 'text'">
        <p>{{ message.content }}</p>
      </ng-container>
      <ng-container *ngIf="message.type === 'code'">
        <pre><code>{{ message.content }}</code></pre>
      </ng-container>
    </div>
  </div>
  <div class="chat-input-container">
    <input
      type="text"
      [(ngModel)]="newMessage"
      placeholder="Type your message..."
    />
    <button (click)="sendMessage()">Submit</button>
    <button
      (click)="continue()"
      style="background-color: orange; margin-left: 2%"
    >
      Continue
    </button>
  </div>
</div>
