# Core scientific stack
numpy==1.26.4
scipy==1.13.1
pandas==2.2.2
scikit-learn==1.5.1
numba==0.60.0
statsmodels==0.14.2
h5py==3.11.0

# Visualization
matplotlib==3.9.1
seaborn==0.13.2

# Single-cell & omics
scanpy==1.10.2
anndata==0.10.8
scrublet                # For doublet detection
celltypist==1.6.3       # For cell type annotation

# Dimensionality reduction & clustering
umap-learn==0.5.6
pynndescent==0.5.13
leidenalg==0.10.2
igraph==0.11.6
networkx==3.2.1

# Notebook support
jupyter
jupyter_client
tqdm==4.66.4

# Utilities
ansi2html==1.8.0
openpyxl==3.1.5
PyPDF2
psutil==6.0.0
defusedxml==0.7.1
requests==2.32.3

# HDF5 / Zarr data formats
zarr
h5netcdf

# Batch correction and integration (for Scanpy)
bbknn
scVI-tools
scarches
harmonypy

# Additional Tools
rapids-singlecell
scib-metrics
