<div class="flex h-full w-full flex-col gap-y-2 rounded-lg bg-foreground p-3">
  <!-- search bar + upload button row -->
  <div class="flex gap-x-3 px-3">
    <!-- search bar -->
    <div class="relative h-fit w-fit flex-1">
      <input
        hlmInput
        class="absolute w-full pl-9"
        placeholder="Search files"
        (input)="fileStorageService.setSearchFilter($any($event.target).value)"
      />
      <hlm-icon
        hlmMuted
        size="sm"
        name="lucideSearch"
        class="absolute left-2.5 translate-y-[50%]"
      />
    </div>
    <!-- file upload button -->
    <div hlmBtn variant="secondary" class="relative gap-x-2 truncate">
      <hlm-icon size="sm" name="lucideFileUp" class="-ml-1 flex-none" />
      File upload
      <input
        class="absolute left-0 top-0 h-full w-full cursor-pointer opacity-0"
        type="file"
        title=" "
        multiple
        (change)="onUploadFilesSelected($event)"
      />
    </div>
    <!-- new folder button -->
    <button
      hlmBtn
      variant="secondary"
      class="relative gap-x-2 truncate"
      type="button"
    >
      <hlm-icon size="sm" name="lucideFolderPlus" class="-ml-1 flex-none" />
      New folder
    </button>
  </div>
  <!-- current dir labels -->
  <div class="flex items-center px-0.5">
    @if (fileStorageService.getPathFilter() | async; as pathFilter) {
      <button hlmBtn hlmH2 variant="ghost" size="sm" type="button">
        My Files
      </button>
    }
  </div>
  <!-- file data table -->
  <hlm-table class="cursor-default overflow-auto">
    <hlm-trow class="rounded-t-lg">
      <hlm-th class="h-10 min-w-40 flex-1">Name</hlm-th>
      <hlm-th class="h-10 w-40">Type</hlm-th>
      <hlm-th class="h-10 w-40">File size</hlm-th>
      <hlm-th class="h-10 min-w-40 flex-1">Last modified</hlm-th>
      <hlm-th class="h-10 w-40 justify-center">Actions</hlm-th>
    </hlm-trow>
    @for (file of fileStorageService.getFiles() | async; track file.id) {
      <hlm-trow class="h-10">
        <hlm-td
          class="mt-0.5 min-w-40 flex-1"
          [ngClass]="{
            'cursor-pointer hover:underline': file.type === 'folder',
          }"
        >
          <hlm-icon
            size="sm"
            [name]="getLucideIconFromType(file.type)"
            class="mb-0.5 mr-2 inline-block flex-none align-middle no-underline"
          />
          <span class="truncate">
            {{ file.name }}
          </span>
        </hlm-td>
        <hlm-td truncate class="w-40">{{ file.type | titlecase }}</hlm-td>
        <hlm-td truncate class="w-40">{{ formatBytes(file.size) }}</hlm-td>
        <hlm-td truncate class="min-w-40 flex-1">{{
          file.uploadedOn.toLocaleString()
        }}</hlm-td>
        <hlm-td class="w-40 justify-center"
          ><hlm-icon size="sm" name="lucideCircleEllipsis" class=""
        /></hlm-td>
      </hlm-trow>
    }
  </hlm-table>
  <!-- page navigator -->
  @if (fileStorageService.getPageNumber() | async; as pageNumber) {
    @if (fileStorageService.getPageSize() | async; as pageSize) {
      @if (fileStorageService.getTotalPages() | async; as totalPages) {
        <hlm-numbered-pagination
          [currentPage]="pageNumber"
          (currentPageChange)="fileStorageService.setPageNumber($event)"
          [itemsPerPage]="pageSize"
          (itemsPerPageChange)="fileStorageService.setPageSize($event)"
          [totalItems]="pageSize * totalPages"
        />
      }
    }
  }
</div>
<!-- TODO -->
<!-- empty state for searches -->
<!-- implement the file uploads + support entire folder upload -->
<!-- implement sorting buttons -->
<!-- implement the path/current folder path -->
<!-- searching should probably should the folder path too, maybe click to jump -->
<!-- implement actions menu -->
<!-- implement upload progress -->
<!-- remove outside padding make this responsive -->
<!-- filter buttons -->
