/* You can add global styles to this file, and also import other style files */
@import "@angular/cdk/overlay-prebuilt.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "highlight.js/styles/atom-one-light.css";

html,
body {
  height: 100%;
}

:root {
  --font-sans: "Inter";
  --background: 0 0% 94%; // main gray background
  --foreground: 0 0% 99%; // main white foreground
  --muted: 0 0% 96%;
  --muted-foreground: 0 0% 45.1%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;
  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --primary: 192 90% 12%; // primary dark green
  --primary-foreground: 0 0% 98%;
  --secondary: 174.31 95.8% 28.04%; // secondary light green
  --secondary-foreground: 0 0% 98%;
  --accent: 0 0% 90%; // accent gray
  --accent-foreground: 0 0% 9%;
  --destructive: 0 84.2% 60.2%; // destructive red
  --destructive-foreground: 0 0% 98%;
  --ring: 0 0% 3.9%;
  --radius: 0.5rem;
}

.gutter {
  background-repeat: no-repeat;
  background-position: 50%;
  transition: background-color 0.2s ease;
  border-radius: 4px;
  &:hover {
    background-color: hsl(0 0% 90%);
  }
  &.gutter-horizontal {
    background-image: url("../public/assets/vertical-dots.svg");
    cursor: col-resize;
  }
}

pre code.hljs {
  padding: 12px;
}
